<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Roll</th>
            <th>Email</th>
            <th>Gender</th>
            <th>mark</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.roll}}</td>
            <td>{{item.email}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.mark}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>